# --- Dependencias ---
node_modules/
.pnpm-store/

# --- Builds y distribuciones ---
dist/
build/
dist-ssr/

# --- Archivos temporales de desarrollo ---
.vite/
.eslintcache
.cache/
.temp/
.tmp/
.eslintcache

# Archivos de entorno
.env*
*.local

# --- Archivos del sistema ---
.DS_Store
Thumbs.db

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Archivos de editor
.idea/
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos pnpm
pnpm-lock.yaml
pnpm-workspace.yaml
